.pdd2 {
    width: 800px;
    height: 800px;
}

h1 {
    color: black;
    background-color: brown;
}

.baiduA {
    color: red;
    font-size: 50px;
    text-decoration: none;
    position: relative;
    color:transparent;
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
}
.baiduA::before{
    content:"asdadsadadsadadada";
    position: absolute;
    left: 0;
    top: 0;
    color:red;
}
.baiduA:hover::before {
    content: "dugfdhfudhhuhfuhfue";
    color: green;
    text-decoration: underline;
}
.baiduA:active {
    color: yellow;
}

.zimu {
    color: blue;
    font-size: 40px;
    text-indent:100px;
    /* text-transform: uppercase; */
    text-transform:capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}